.img-dono {
	margin: 0 auto;
}

.descricao {
	font-size: 1.3em;
}

.horarios {
	border-bottom: 2px solid red;
}

.descricao li {
	text-align: justify;
	font-family: 'PT Serif', serif;
	font-size: 1.2em;
	font-weight: 800;
	color: #2D3336;
}

.descricao ul {
	margin: 15px;
}

.descricao h3 {
	font-size: 1.2em;
	text-align: center;
}


@media screen and (min-width: 992px) {
	#personal {
		margin-top: 25%;
	}
}