#contato {
	background-color: #2E2E2E;
}

#contato #num, #contato p, #contato a {
	color: #fff;
	font-size: 2em;
}

#facebook {
	margin-top: 45px;
	width: 100%;
}

#facebook a {
	display: block;
	margin: 0 auto;
	font-size: 2.5em;
	text-decoration: none;
	text-align: center;
}

#first {
	padding-top: 30px;
}

#facebook img {
	position: relative;
	top: 0;
	left: 50%;
	margin: 0 auto;
}

.divisor {
	height: 5px;
}

#mapa {
	text-align: center;
	width: 100%;
}

#mapa iframe {
	width: 75%;	
}









/*Media querie*/

@media screen and (max-width: 767px) {
	#contato div {
		margin: 10px auto;
	}
}

@media screen and (max-width: 991px) {
	#contato .row div {
		margin: 15px 0;
	}
}
