

#aparelhos {
	width: 100vh;
	margin: 10px auto;
}

.descricao  p{
	width: 100%;
	font-size: 1.2em;	
}

.exercicios {
	color: #000;
	font-weight: 800;
}

.subtitulo {
	width: 100%;
	text-align: center;
}

