/*Conteudo*/


.img-dono {
	width: 380px;
	height: 300px;
	border-radius: 3%;
}



#carrossel {
	margin: 15px auto;
}


#motivo-titulo {
	color: #f30301;
	font-weight: bold;
	padding: 15px 0;
	text-align: center;
	margin: auto;
}
/*Media Queries*/
/*xs < 768*/
@media screen and (max-width: 767px) {

	.img-dono {
		margin: 0 auto;
	}
}

/*sm > 768*/

@media screen  and (min-width: 768px) {
	.img-dono, .icone {
		margin: 10px auto;
	}

	#quem-somos p {
		margin: auto;
	}
}

/*Menu mobile se extende ate 992*/
@media screen and (max-width : 991px){
  .mobile .lines {
    border-bottom: 15px double #f8f8f8; 
    border-top: 5px solid #f8f8f8; 
    content:"";
    height: 2px; 
    width: 30px;
    padding-right:15px;
    padding-bottom: 5px;
 	float: right;
}
	/*Make dropdown links appear inline*/
	.mobile ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.mobile li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.mobile ul li, .mobile li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.mobile .show-menu {
		display:block;
	}
}

/*md > 992*/ 

@media screen and (min-width: 992px ) and (max-width: 1079px) {


  #motivos div {
/*  	border: 1px solid red; */
	float: left;

  }
}

/*lg*/

@media all and (min-width: 1080px) {
	#motivos img {
		margin-left: 40%; /*maldito seja o bs e seu alinhamennto*/
	}
}
