/*Conteudo*/
.conteudo {
	width: 100%;
}
.img-dono {
	border-radius: 3%;
}



#carrossel {
	margin: 15px auto;
	max-width: 100%;
}

.descricao h3 {
	font-size: 1.5em;
	text-align: center;
}
 


#motivo-titulo {
	color: #f30301;
	font-weight: bold;
	padding: 15px 0;
	text-align: center;
	margin: auto;
}
/*Media Queries*/
/*xs < 768*/
@media screen and (max-width: 767px) {

	.img-dono {
		margin: 0 auto;
	}


}

/*sm > 768*/

@media screen  and (min-width: 768px) {
	.img-dono, .icone {
		margin: 10px auto;
	}

	#quem-somos p {
		margin: auto;
	}
}

/*Menu mobile se extende ate 992*/
@media screen and (max-width : 991px){
  .mobile .lines {
    border-bottom: 15px double #f8f8f8; 
    border-top: 5px solid #f8f8f8; 
    content:"";
    height: 2px; 
    width: 30px;
    padding-right:15px;
    padding-bottom: 5px;
 	float: right;
}
	/*Make dropdown links appear inline*/
	.mobile ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.mobile li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.mobile ul li, .mobile li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.mobile .show-menu {
		display:block;
	}
}

/*md > 992*/ 

@media screen and (min-width: 992px ) and (max-width: 1199px) {
	.motivos-txt p, .motivos-txt h3{
		width: 100%;
	}

	.motivos-txt p {
		text-align: justify;
	}

	.motivos-txt h3 {
		text-align: center;
	} 

	.icons img {
		float: none;
		display: block;
		margin: 0 auto;
	}

}

/*lg*/

@media all and (min-width: 1200px) {
	#motivos img {
		margin-left: 40%; /*maldito seja o bs e seu alinhamennto*/
	}

	#quem-somos .descricao h3 {
		padding-left: 15%;
	}

	#quem-somos .descricao {
		padding: 5px;
	}

	#shaya {
		margin-top: 10%;
	}
}
